/* vt = View Transition */
@each $x in ("post-img", "post-author", "post-author-avatar", "post-angular-icon") {
  .app-vt-#{$x} {
    view-transition-name: #{$x};
  }

  ::view-transition-group(#{$x}) {
    animation-duration: .4s !important;
  }

  ::view-transition-old(#{$x}) {
    animation: none;
  }
  ::view-transition-new(#{$x}) {
    animation: none;
    display: none;
  }
}
